<h1>View Order</h1>

<div>
	<% @line_items.each do |line_item| %>
	<ul>
		<li><%= line_item.product.name %></li>
		<li><%= number_to_currency line_item.product.price %></li>
		<li><%= line_item.quantity %></li>
		<li><%= number_to_currency line_item.line_item_total %></li>
	</ul>
	<% end %>
</div>

<%= link_to 'Checkout', checkout_path, method: :post %>
